<h1>Listing all articles</h1>
<p>
  <%= link_to 'Create new article', new_article_path %>
</p>


<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Description</th>
    <th>Created by:</th>
    <th>Created At:</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%=article.id%></td>
    <td><%=article.title%></td>
    <td><%=article.description%></td>
    <td><%=article.user.username if article.user %></td>
    <td><%=time_ago_in_words(article.created_at)%> ago</td>
    <td><%=link_to 'Show', article_path(article) %></td>
    <td><%=link_to 'Edit', edit_article_path(article) %></td>
    <td><%=link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table>
